<script type='text/javascript' src='/js/menu.js'></script>
<header>
    <div class="contHeader">
        <img class="logo" src="/images/G.png" alt="">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navbar">
            <ul class="contenido">
                <li> <a href="" class="activo">Inicio</a> </li>
                <li> <a href="">Conoceme</a> </li>
                <li> <a href="">Proyectos</a> </li>
                <li> <a href="">contacto</a> </li>
            </ul>
        </div>
    </div>
</header>
